<div class="todo">
<h1>{{title}}</h1>

<input type="text" placeholder="ჩაწერე...." #newTodo />
<button class="btn btn-success" (click)="addTodo(newTodo.value); 
newTodo.value=''">დამატება</button>


<table>
<tr>
       <th>Name</th>
       <th><b>Number</b></th>
       <th>Done</th>
       <th>Action</th>
</tr>
<tr *ngFor="let todo of todos">
  <td>{{todo.label}}</td>
  <td>{{todo.priority}}</td>
  <td>{{todo.done ? '&#10003;' : '&#10005;'}}</td>
  <td>
         <button class="btn btn-danger" (click)="deleteTodo(todo)">წაშლა</button>
  </td>
</tr>


</table>

</div>